NODE_ENV=development
PORT=5000
MONGO_URI=mongodb://localhost:27017/nextlib_db
JWT_ACCESS_SECRET=nextlib_super_secret_access_key_change_in_production_32char
JWT_REFRESH_SECRET=nextlib_super_secret_refresh_key_change_in_production_32char
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_EXPIRY=7d
STORAGE_PROVIDER=local
LOCAL_UPLOAD_DIR=./uploads
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8081
